<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="Fontend/Css/resert.css?ver=12" />
    <link rel="stylesheet" href="Fontend/Css/gird.css?ver=11" />
    <link rel="stylesheet" href="Fontend/Css/layout.css?ver=433" />
    <link rel="stylesheet" href="Fontend/Css/reponsit.css?ver=13" />
    <title>Header</title>
  </head>
  <body>
    <div class="header__tablet ">
      <div class="list__tablet">
        <!-- danh sach -->
        <div class="class__list">
          <i class="fa-solid fa-list"></i>
          <div class="list__tablet__items">
            <div class="cloes">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <ul class="header__nav__tablet">
              <li class=" one__tablet "><a href="">COUPON 100K</a> </li>
              <li class="two__tablet"><div class="two_tablet_pa bold"><p>NU</p> <div class="mo cha"><i class="fa-solid fa-plus"></i></div></div>
                <div class="tablet__nu">
                  <ul class="class_list_nu">
                    <li>
                      <div class="two_tablet_pa">
                        <p>Ao Nu </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus "></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="two_tablet_pa">
                        <p>Quan Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li> 
                      <div class="two_tablet_pa">
                        <p>Do Bo Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="two_tablet_pa">
                        <p>Do Trong Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="two_tablet_pa">
                        <p>Do The Thao Nu   </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li> 
                      <div class="two_tablet_pa">
                        <p>Dam Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              
              <li class="three__tablet "> <div class="two_tablet_pa bold"><p>NAM</p><div class="mo cha"><i class="fa-solid fa-plus"></i></div></div>
                <div class="tablet__nu">
                  <ul class="class_list_nu">
                    <li>
                      <div class="two_tablet_pa">
                        <p>Ao Nu </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus "></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="two_tablet_pa">
                        <p>Quan Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li> 
                      <div class="two_tablet_pa">
                        <p>Do Bo Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="two_tablet_pa">
                        <p>Do Trong Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="two_tablet_pa">
                        <p>Do The Thao Nu   </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                    <li> 
                      <div class="two_tablet_pa">
                        <p>Dam Nu  </p>
                         <div class="mo con">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                      <div class="two_tablet_chil">
                        <ul class="chil__items">
                          <li><a href="#">Ao PoLo </a></li>
                          <li><a href="#">Ao So Mi </a></li>
                          <li><a href="#">Ao Khoac</a></li>
                          <li><a href="#">Ao Ni</a></li>
                          <li><a href="#">Ao Chong Nang</a></li>
                          <li><a href="#">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              
              </li>
              <li class="for__tablet"><a >TRE EM</a><div class="mo"><i class="fa-solid fa-plus"></i></div></li>
              <li class="file__tablet"><a >BO SUU TAP</a><div class="mo"><i class="fa-solid fa-plus"></i></div></li>
              <li class="six__tablet"><a href="">DONG PHUC</a></li>
              <li class="seven__tablet"><a >VE YODY</a><div class="mo"><i class="fa-solid fa-plus"></i></div></li>
              <li class="eat__tablet"><a href="">DOI TAC YODY</a></li>
              <li class="night__tablet"><a > BLOG </a><div class="mo"><i class="fa-solid fa-plus"></i></div></li>
            </ul>
            <div class="help__tablet">
              <ul class="help__tablet__items">
                <li> <i class="fa-brands fa-rocketchat help__t"></i><a href="#"> Tu van qua Zalo</a></li>
                <li> 
                  <i class="fa-regular fa-user  help__t"></i>
                <a href="#">Dang Nhap</a></li>
                <li><i class="fa-solid fa-truck-fast  help__t"></i><a href="#">Don hang cua toi</a></li>
                <li> <i class="fa-solid fa-location-dot  help__t"></i><a href="#">He thong cua hang</a></li>
                <li><i class="fa-solid fa-shield  help__t"></i><a href="#">Chinh sach ho tro khach hang</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- logo -->
      <div class="header__logo__tablet">
        <a href="#">
          <img
            src="https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/logo.svg?1714029053346"
            alt="Logo YODY"
          />
        </a>
      </div>
      <!-- Tim Kiem and cart -->
      <div class="list__tablet">
        <div class="tablet__search"><i class="fa-solid fa-magnifying-glass"></i>
          <div class="tablet__search__items">
            <div class="search__items__top">
              <div class="search__item"><i class="fa-solid fa-arrow-left"></i></div>
              <h1 class="search__text">Tìm kiếm sản phẩm</h1>
            </div>
            <div class="search__form">
              <form action="#" method="get" class="header__form_tablet">
                <input
                  type="text"
                  name="search"
                  id="search__tablet"
                  class="js__search css__search__tablet"
                  placeholder="    Tìm Kiếm"
                  required
                />
                <button type="submit" class="btn__search__tablet js_btn">
                   <i class="fa-searchs  fa-solid fa-magnifying-glass-minus"></i>
                </button>
              </form>
            </div>
            <div class="search__lok">
              <h2 class="search__lok_text" >Tim Kiem Noi Bat</h2>
              <ul class="lok__items">
                <li>Ao Nam</li>
                <li>Ao Nu</li>
                <li>Quan Nam</li>
                <li>Quan Nu</li>
                <li>Tat Nam</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tablet__cart">
          <div><a href="Fontend/Layout/cart.html"><img
            src="	https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/cart.svg?1714180293019"
            alt=""
          /></a></div>
        </div>
      </div>
    </div>
    <div class="header__pc">
    <header class="header gird">
        <div class="header__Top">
          <div class="header__Top__Left">
            <div class="header__logo">
              <a href="#">
                <img
                  src="https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/logo.svg?1714029053346"
                  alt="Logo YODY"
                />
              </a>
            </div>
            <div class="header__search">
              <form action="#" method="get" class="header__form">
                <input
                  type="text"
                  name="search"
                  id="search"
                  class="js__search css__search"
                  placeholder="    Tìm Kiếm"
                  required
                />
                <button type="submit" class="btn__search js_btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="header__Top__Right">
            <ul class="information">
              <li class="header__address">
                <i class="fa-solid fa-location-dot"></i>
                <a href="#" class="header__address__item">
                  Tìm <span class="number__shop">267</span> cửa hàng</a
                >
              </li>
              <li class="header__telecom">
                <i class="fa-solid fa-phone"></i>
                <a class="a__text" href="tel:1800 2086">1800 2086</a>
                <span class="header__free">PREE</span>
                <span class="header__s">-</span>
              </li>
              <li class="header__text"><span> Đặt hàng  </span></li>
              <li class="header__phone">
                <i class="fa-solid fa-phone"></i>
                <a class="a__text" href="tel:0965932120">02499986999</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__Bottom">
          <div class="header__Bottom__Left">
            <ul class="header__nav">
              <li class="header__items one"><a href="">COUPON 100K</a></li>
              <li class="header__items two">
                <a href="">NU</a>
               
                <div class="header__list__Nu">
                  <div class="grid">
                  <div class="row">
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Ao Nu</h1>
                        <ul class="items__list">
                          <li>
                            <a href="">Ao Polo</a>
                          </li>
                          <li><a href="">Ao Thun</a></li>
                          <li>
                            <a href="">Ao Chong Nang</a>
                          </li>
                          <li><a href="">Ao So Mi </a></li>
                          <li><a href="">Ao Khoac</a></li>
                          <li><a href="">Ao Ni</a></li>
                          <li><a href="">Ao Giu Nhiet</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Quan Nu</h1>
                        <ul class="items__list">
                          <li>
                            <a href="">Quan Jeans</a>
                          </li>
                          <li><a href="">Quan Shont</a></li>
                          <li>
                            <a href="">Quan KaKi</a>
                          </li>
                          <li><a href="">Quan Au </a></li>
                          <li><a href="">Quan Ni</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Do Bo Nu</h1>
                        <ul class="items__list">
                          <li>
                            <a href="">Do Bo Nu Mac Nha</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Noi Bat</h1>
                        <ul class="items__list">
                          <li>
                            <a href="">Hang Moi Ve</a>
                          </li>
                          <li><a href="">Chong UV</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Do Trong Nu</h1>
                        <ul class="items__list">
                          <li><a href="">Do Lot</a></li>
                          <li><a href="">Ao 2 Day- Ao Ba Lo</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Do The Thao Nu</h1>
                        <ul class="items__list">
                          <li>
                            <a href=""> Bo Do The Thao</a>
                          </li>
                          <li><a href="">Ao Thun The Thao</a></li>
                          <li><a href="">Ao Polo The Thao</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Chan Vay Nu</h1>
                        <ul class="items__list"></ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="items">
                        <h1 class="items__name">Dam Nu</h1>
                        <ul class="items__list"></ul>
                      </div>
                    </div>
                    <div class="col">
                      <div class="Nu__image">
                        <img
                          src="https://bizweb.dktcdn.net/thumb/grande/100/438/408/themes/946371/assets/link_image_2_1.jpg?1714029053346"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
              </div>
              </div>
              </li>
              <li class="header__items three"><a href="">NAM</a>
                  <div class="header__list__Nam">
                      <div class="gird">
                        <div class="row">
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Ao Nam</h1>
                              <ul class="items__list">
                                <li>
                                  <a href="">Ao Polo</a>
                                </li>
                                <li><a href="">Ao Thun</a></li>
                                <li>
                                  <a href="">Ao Chong Nang</a>
                                </li>
                                <li><a href="">Ao So Mi </a></li>
                                <li><a href="">Ao Khoac</a></li>
                                <li><a href="">Ao Ni</a></li>
                                <li><a href="">Ao Giu Nhiet</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Quan Nam</h1>
                              <ul class="items__list">
                                <li>
                                  <a href="">Quan Jeans</a>
                                </li>
                                <li><a href="">Quan Shont</a></li>
                                <li>
                                  <a href="">Quan KaKi</a>
                                </li>
                                <li><a href="">Quan Au </a></li>
                                <li><a href="">Quan Ni</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Do Bo Nam</h1>
                              <ul class="items__list">
                                <li>
                                  <a href="">Do Bo Nu Mac Nha</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Noi Bat</h1>
                              <ul class="items__list">
                                <li>
                                  <a href="">Hang Moi Ve</a>
                                </li>
                                <li><a href="">Chong UV</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Do Trong Nam</h1>
                              <ul class="items__list">
                                <li><a href="">Do Lot</a></li>
                                <li><a href="">Ao 2 Day- Ao Ba Lo</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name"> The Thao Nam</h1>
                              <ul class="items__list">
                                <li>
                                  <a href=""> Bo Do The Thao</a>
                                </li>
                                <li><a href="">Ao Thun The Thao</a></li>
                                <li><a href="">Ao Polo The Thao</a></li>
                              </ul>
                            </div>
                          </div>
      
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Phu Kien Nam</h1>
                              <ul class="items__list">
                                <li><a href="">That Lung</a></li>
                                <li><a href="">Tat Nam</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col">
                            <div class="items">
                              <h1 class="items__name">Nam</h1>
                              <ul class="items__list"></ul>
                            </div>
                          </div>
                          <div class="col">
                            <div class="Nu__image">
                              <img
                                src="https://bizweb.dktcdn.net/thumb/grande/100/438/408/themes/946371/assets/link_image_3_1.jpg?1714029053346"
                                alt=""
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
              </li>
              <li class="header__items for"><a href="">TRE EM</a></li>
              <li class="header__items file"><a href="">BO SUU TAP</a></li>
              <li class="header__items six"><a href="">DONG PHUC</a></li>
              <li class="header__items seven"><a href="">VE YODY</a></li>
              <li class="header__items eat"><a href="">DOI TAC YODY</a></li>
              <li class="header__items night"><a href=""> BLOG </a></li>
            </ul>
          </div>
          <div class="header__Bottom__Right">
            <ul class="cart__login">
              <li class="header__Bag">
                <div>
                  <img
                    src="	https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/cart.svg?1714180293019"
                    alt=""
                  />
                  <span class="number__product">3</span>
                  <div class="list__produce">
                      <div class="cart__List_not">
                        <p class="cart__img">
                          <img
                            src="https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/blank_cart.svg?1713584770091"
                            alt=""
                          />
                        </p>
                        <p class="cart__text">Gio Hang Cua Ban Trong</p>
                        
                      </div>
                    </div>
                </div>
  
                <span class="as">Gio Hang</span>
              </li>
              <li class="header__Form_bottom">
                <span>
                  <img
                    src="	https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/icon-user.svg?1714122145923"
                    alt=""
                  />
                </span>
  
                <span class="header__login"><a href="?Module=Auth&action=Login">Dang Nhap</a></span>/<span
                  class="header__acction"
                   ><a href="?Module=Auth&action=Account">Dang Ky</a></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="banner">
        <img src="Fontend/Img/Home/slider_1.webp" alt="">
    <div class="btn__left   btn_slide" onclick="next()"><i class="fa-solid fa-circle-chevron-left"></i></div>
    <div class="btn__right btn_slide " onclick="last()"><i class="fa-solid fa-circle-chevron-right"></i></div>
    </div>
    <div class="banner__sale">
        <img src="https://bizweb.dktcdn.net/100/438/408/themes/946371/assets/banner-home-khuyen-mai.png?1714122145923" alt="">
        <div class="btn__new">Đặc Biệt</div>
     <div class="btn__contens">
            <div class="btn__one">
                <div class="cline__one">
                    <p>Giảm </p>
                    <p class="cline_a">100K</p>
                    <p>cho đơn 400k</p>
                </div>
                <div class="cline__texr">
                    Giảm Ngay
                </div>
            </div>
            <div class="btn__tow"> 
                <div class="cline__one">
                <p>Giảm </p>
                <p >50%</p>
                
            </div>
            <div class="cline__texr">
                Giảm Ngay
            </div></div>
            <div class="btn__three">
                <div class="cline__one">
                <p>Giảm </p>
                <p >50K</p>
                <p>cho đơn 299k</p>
            </div>
           
            <div class="cline__texr">
                Giảm Ngay
            </div>
        </div>
     </div>
    </div>
    <!-- ============================================================= -->
     <div class="nav__class">
      <div class="nav__top_list">
        <div class="nav_item  nav_one active__nav">Nam</div>
        <div class="nav_item nav_tow">Nu</div>
        <div class="nav_item nav_three">Tre em</div>
      </div>
      <div class="nav_bottom_list her">
        <div class="nav_left" onclick="hien3()"><img src="Fontend/Img/Home/left.png" alt=""></div>
        <div class="nav_nu">
          <ul class="nav__items_click">
          <a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/aochongnang.png" alt=""></div>
              <div class="text_nav"><p>ÁO CHỐNG NĂNG</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/aothun.webp" alt=""></div>
              <div class="text_nav"><p>ÁO THUN</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/aopolo.webp" alt=""></div>
              <div class="text_nav"><p>ÁO POLO</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/aosomi.png" alt=""></div>
              <div class="text_nav"><p>ÁO SƠ MI</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/chanvay.webp" alt=""></div>
              <div class="text_nav"><p>CHÂN VÁY</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/quanjeant.webp" alt=""></div>
              <div class="text_nav"><p>QUẦN JEANT</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
              <div class="text_nav"><p>QUẦN SHOT</p></div>
            </li>
          </a>
          <a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
              <div class="text_nav"><p>QUẦN SHOT1</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
              <div class="text_nav"><p>QUẦN SHOT2</p></div>
            </li>
          </a><a href="#">
            <li>
              <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
              <div class="text_nav"><p>QUẦN SHOT3</p></div>
            </li>
          </a>
        </ul>
      </div>
        <div class="nav_right" onclick="hien3()"><img src="Fontend/Img/Home/right.png" alt=""></div>
      </div>
      <div class="nav_bottom_list boy">
        <div class="nav_left" onclick="hien2()"><img src="Fontend/Img/Home/left.png" alt=""></div>
        <div class="nav_nam nam">
          <ul class="nav__items_click nam">
            <a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aochongnang.png" alt=""></div>
                <div class="text_nav"><p>ÁO CHỐNG NĂNGss</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aothun.webp" alt=""></div>
                <div class="text_nav"><p>ÁO THUN</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aopolo.webp" alt=""></div>
                <div class="text_nav"><p>ÁO POLO</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aosomi.png" alt=""></div>
                <div class="text_nav"><p>ÁO SƠ MI</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/chanvay.webp" alt=""></div>
                <div class="text_nav"><p>CHÂN VÁY</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanjeant.webp" alt=""></div>
                <div class="text_nav"><p>QUẦN JEANT</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT</p></div>
              </li>
            </a>
            <a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT1</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT2</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT3</p></div>
              </li>
            </a>
          </ul>
        </div>
        <div class="nav_right" onclick="hien2()"><img src="Fontend/Img/Home/right.png" alt=""></div>
      </div>
      <div class="nav_bottom_list chill">
        <div class="nav_left" onclick="hien1()"><img src="Fontend/Img/Home/left.png" alt=""></div>
        <div class="nav_nam chill">
          <ul class="nav__items_click chill">
            <a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aochongnang.png" alt=""></div>
                <div class="text_nav"><p>ÁO CHỐNG NĂNGsssss</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aothun.webp" alt=""></div>
                <div class="text_nav"><p>ÁO THUN</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aopolo.webp" alt=""></div>
                <div class="text_nav"><p>ÁO POLO</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/aosomi.png" alt=""></div>
                <div class="text_nav"><p>ÁO SƠ MI</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/chanvay.webp" alt=""></div>
                <div class="text_nav"><p>CHÂN VÁY</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanjeant.webp" alt=""></div>
                <div class="text_nav"><p>QUẦN JEANT</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT</p></div>
              </li>
            </a>
            <a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT1</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT2</p></div>
              </li>
            </a><a href="#">
              <li>
                <div class="image"><img src="Fontend/Img/Home/nu/quanshot.png" alt=""></div>
                <div class="text_nav"><p>QUẦN SHOT3</p></div>
              </li>
            </a>
          </ul>
        </div>
        <div class="nav_right" onclick="hien1()"><img src="Fontend/Img/Home/right.png" alt=""></div>
      </div>
     </div>
        <!-- <div class="filter__black"> </div> -->
      
  </body>
  <!-- slide__show -->
  <script>
    var banner = [
      "Fontend/Img/Home/slider_2.webp",
      "Fontend/Img/Home/slider_3.webp",
      "Fontend/Img/Home/slider_1.webp",
    ];
    var i = 0;
    var stopss;
    function next(){
        clearInterval(stopss);
        if(i>=banner.length-1){
            i=0
        }
        i++

        document.querySelector(".banner img").src = banner[i];
        settiem()
    }
    function last(){
        clearInterval(stopss);
        if(i<=0){
            i=banner.length-1
        }
        i--;
        document.querySelector(".banner img").src = banner[i];
        settiem()
    }
    function settiem(){
        stopss=  setInterval(function () {
      if (i >= banner.length - 1) {
        i = 0;
      }
      i++;
      document.querySelector(".banner img").src = banner[i];
    }, 2500);
    }
    settiem()
  </script>
  <!-- filter__conten -->
  <script>
    const filterNu = document.querySelector(".two");

          const filter = document.querySelector(".filter__black");
          const filterNam = document.querySelector(".three");
          filterNam.addEventListener("mouseover", function () {
            filter.style.opacity = "1";
          });
          filterNam.addEventListener("mouseout", function () {
            filter.style.opacity = "0";
          });
          filterNu.addEventListener("mouseover", function () {
            filter.style.opacity = "1";
          });
          filterNu.addEventListener("mouseout", function () {
            filter.style.opacity = "0";
          });
  </script>
  <!-- class__list -->
<script>
var cha = [];
var con = [];
const btn__cha = document.querySelectorAll(".cha .fa-plus");
const btn__con = document.querySelectorAll(".con .fa-plus");
const list__cha = document.querySelectorAll(".tablet__nu");
const list__con = document.querySelectorAll(".two_tablet_chil");

btn__cha.forEach(function(btn,i) {
  cha[i]=false
    btn.addEventListener("click", function() {

        cha[i] = !cha[i]

        if (cha[i]) {
            list__cha[i].style.display = "block";
        } else {
            list__cha[i].style.display = "none";
        }
    });
});

btn__con.forEach(function(btn, i) {
    con[i] = false; 
    btn.addEventListener("click", function() {
        con[i] = !con[i];
        if (con[i]) {
            list__con[i].style.display = "block";
        } else {
            list__con[i].style.display = "none";
        }
    });
});

const class__list=document.querySelector(".fa-list")
const class__lists=document.querySelector(".list__tablet__items")
const btn__close=document.querySelector(".cloes")
btn__close.addEventListener("click",function(){
class__lists.style.transform="translateX(-100%)";
})
var list=false;
class__list.addEventListener("click",function(){
list=!list
if(list){
  class__lists.style.transform="translateX(0)";
}else{
  class__lists.style.transform="translateX(-100%)";
 
}
});
const btn__search=document.querySelector(".tablet__search .fa-magnifying-glass")
const class__list_search=document.querySelector(".tablet__search__items")
btn__search.addEventListener("click",function(){
  list=!list
if(list){
  class__list_search.style.transform="translateX(0)";
}else{
  class__list_search.style.transform="translateX(200%)";
 
}
})
const btn_searchss=document.querySelector(".search__item .fa-arrow-left")
btn_searchss.addEventListener("click" ,function(){
  class__list_search.style.transform="translateX(200%)";
})
</script>
<!-- nav__classs -->
<script>
  var a=false
  var b=false
  var c=false
const allsa1=document.querySelector(".nav__items_click > a:nth-child(1)")
const allsa2=document.querySelector(".nav__items_click > a:nth-child(2)")
const allsa3=document.querySelector(".nav__items_click > a:nth-child(3)")
 function  hien3(){
  a=!a;
  if(a){
  allsa1.style.display="none"
  allsa2.style.display="none"
  allsa3.style.display="none"
  }else{
    allsa1.style.display="block"
  allsa2.style.display="block"
  allsa3.style.display="block"
  }

 }
const alls1=document.querySelector(".nav__items_click.nam> a:nth-child(1)")
const alls2=document.querySelector(".nav__items_click.nam> a:nth-child(2)")
const alls3=document.querySelector(".nav__items_click.nam> a:nth-child(3)")

function  hien2(){
  b=!b;
  if(b){
  alls1.style.display="none"
  alls2.style.display="none"
  alls3.style.display="none"
  }else{
    alls1.style.display="block"
  alls2.style.display="block"
  alls3.style.display="block"
  }

 }
const all1=document.querySelector(".nav__items_click.chill> a:nth-child(1)")
const all2=document.querySelector(".nav__items_click.chill> a:nth-child(2)")
const all3=document.querySelector(".nav__items_click.chill> a:nth-child(3)")

function  hien1(){
  c=!c;
  if(c){
  all1.style.display="none"
  all2.style.display="none"
  all3.style.display="none"
  }else{
    all1.style.display="block"
  all2.style.display="block"
  all3.style.display="block"
  }

 }
  var her=document.querySelector(".nav_bottom_list.her")
  var boy=document.querySelector(".nav_bottom_list.boy")
  var chill=document.querySelector(".nav_bottom_list.chill")
   her.style.display="none"
   chill.style.display="none"

var btn__ll=document.querySelectorAll(".nav_item")
btn__ll.forEach(function(even,index){
  even.addEventListener("click",function(){
    console.log("a")
    if(index===0){
      her.style.display="none"
    boy.style.display="block"
    chill.style.display="none"
    document.querySelector(".nav_one").classList.add("active__nav");
    document.querySelector(".nav_three").classList.remove("active__nav");
    document.querySelector(".nav_tow").classList.remove("active__nav");
  }if(index===1){
    her.style.display="block"
    boy.style.display="none"
    chill.style.display="none"
    document.querySelector(".nav_tow").classList.add("active__nav");
    document.querySelector(".nav_one").classList.remove("active__nav");
    document.querySelector(".nav_three").classList.remove("active__nav");
  }
  if(index===2){
    her.style.display="none"
    boy.style.display="none"
    chill.style.display="block"
  document.querySelector(".nav_three").classList.add("active__nav");
  document.querySelector(".nav_tow").classList.remove("active__nav");
  document.querySelector(".nav_one").classList.remove("active__nav");
}  
})
})


</script>

</html>
